#params files 
ros_rslidar_robosense/rslidar_pointcloud/data/rs_lidar_16/curves.csv
ros_rslidar_robosense/rslidar_pointcloud/data/rs_lidar_16/ChannelNum.csv
ros_rslidar_robosense/rslidar_pointcloud/data/rs_lidar_16/angle.csv
.vscode
